VITE_SPREADSHEET_ID=your_google_spreadsheet_id_here
VITE_GOOGLE_SHEETS_API_KEY=your_google_sheets_api_key_here
BRAZE_REST_ENDPOINT=https://rest.iad-07.braze.com
BRAZE_API_KEY=your_braze_rest_api_key_here
